.row(style="margin-left: 40px;margin-right: 40px;")
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    form(ng-submit="on.submit()") 
      .col-lg-12.col-md-12.col-sm-12.col-xs-12 
        .form-group.col-xs-12.col-sm-12.col-md-6.col-lg-6.has-feedback(style="padding-left: 0px;padding-right: 5px;")
          label Datos del titular de la factura
          input.form-control(type="text",placeholder="Nombre",ng-model="on.form.name",ng-change="change()",required)
          i.form-control-feedback.fv-icon-no-label
          small.help-block.hidden Por favor introduce un valor
          small.help-block.hidden Por favor introduce un valor con una longitud válida 
        .form-group.col-xs-12.col-sm-12.col-md-3.col-lg-3.has-feedback(style="padding-left: 5px;padding-right: 5px;") 
          label &nbsp;
          select.form-control(ng-model="on.form.idp",ng-change="change()",required)
            option(ng-value="V",ng-selected="on.form.idp=='V'") V
            option(ng-value="E",ng-selected="on.form.idp=='E'") E
            option(ng-value="P",ng-selected="on.form.idp=='P'") P
            option(ng-value="R",ng-selected="on.form.idp=='R'") R
          i.form-control-feedback.fv-icon-no-label
          small.help-block.hidden Por favor introduce un valor
        .form-group.col-xs-12.col-sm-12.col-md-3.col-lg-3.has-feedback(style="padding-left: 5px;padding-right: 0px;") 
          label &nbsp;
          input.form-control(type="text",placeholder="Ingresa el numero de documento...",ng-model="on.form.id",ng-change="change()",required)
          i.form-control-feedback.fv-icon-no-label
          small.help-block.hidden Por favor introduce un valor
          small.help-block.hidden Por favor introduce un número decimal válido 
      .form-group.col-xs-12.col-sm-12.col-md-12.col-lg-12
        label Dirección fiscal
        input.form-control(type="text",placeholder="Dirección",ng-model="on.form.address",ng-change="change()",required)
        i.form-control-feedback.fv-icon-no-label
        small.help-block.hidden Por favor introduce un valor
        small.help-block.hidden Por favor introduce un valor con una longitud válida
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .alert.alert-info
          .fa.fa-info-circle.fa-fw
          | Hemos colocado la informacion de tu cuenta por defecto, puedes modificarla.
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        br
        br
        br
        .text-right 
          a.btn(ui-sref="bankcheckout.bankcheckoutThird({id: id})",ng-click="on.submit()") Omitir Este Paso
          button#Report.btn.btn-send(type="submit",ng-disabled="disabled",data-loading-text="Loading...") Continuar
					  
