#sales
  .title(style="background: #FAFAFA;border: #ccc 1px solid;padding: 20px;")
    h4(style="margin: 0;") 
      span.black Detalle de la {{user._id === transactions.item.seller._id ? 'Venta': 'Compra'}} N° {{transactions.item.miniid}} 
      span.text-muted  
        time-ago(from-time="{{transactions.item.time}}")
  .row
    .content-publication.col-xs-12.col-sm-12.col-md-12.col-lg-12
      .col-xs-12.col-sm-12.col-md-12.col-lg-12(style="margin: 18px 0;")
        h4.black Producto
        hr
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .col-xs-12.col-sm-4.col-md-4.col-lg-4
          .framework-img
            a(ui-sref="base.publication({id: transactions.item.oldpublication._id})")
              img.img-responsive.img-publish(ng-src="http://50.21.179.35:8083/{{transactions.item.oldpublication.photos[0]}}",alt="framework-img",style="height: 180px;")
        .col-xs-12.col-sm-8.col-md-8.col-lg-8
          a(ui-sref="base.publication({id: transactions.item.publication._id})") {{transactions.item.publication.name}}
          br
          span.price.red(style="font-size: 15px;display: inline-block;") {{transactions.item.publication.price | filterMoney : "Bs" : true}}
          span  x {{transactions.item.quantity}}
          span(ng-if="transactions.item.quantity==1") unidad 
          span(ng-if="transactions.item.quantity>1") unidades
          br
          span.opacity Publicación N° {{transactions.item.publication.miniid}}
          hr
          div
            span.black Datos del vendedor
            br
            i.fa.fa-user.fa-fw.black 
            span.black {{transactions.item.seller.name}}
            | ( 
            a(iu-sref="user.info({id: transactions.item.seller.name._id})")  
              span.black {{transactions.item.seller.username}}
            | ) 
            br
            i.fa.fa-phone.fa-fw.black
            span.black {{transactions.item.seller.phone}}
            br
            i.fa.fa-envelope.fa-fw.black
            | &nbsp;
            copy-text.black(ng-model="transactions.item.seller.mail")
            br
            i.fa.fa-comments.fa-fw.black
            | &nbsp;
            a(href="#") Ver Preguntas 
      .col-xs-12.col-sm-12.col-md-12.col-lg-12(style="margin: 18px 0;")
        h4.black Pago
        hr
      .col-lg-12.col-md-12.col-sm-12.col-xs-12.padding-col-0(style="padding-bottom: 8px;border-bottom: 1px solid #00000017;",ng-if="transactions.item.payments.length>0")
        .col-lg-2.col-md-2.col-sm-2.col-xs-2.text-center
          span 
            b.black Fecha
        .col-lg-2.col-md-2.col-sm-2.col-xs-2.text-center
          span 
            b.black Banco
        .col-lg-4.col-md-4.col-sm-4.col-xs-4.text-center
          span 
            b.black Numero de Referencia & Forma de Pago
        .col-lg-2.col-md-2.col-sm-2.col-xs-2.text-center
          span 
            b.black Precio 
        .col-lg-2.col-md-2.col-sm-2.col-xs-2.text-center
          span
            b.black Estado
      .col-lg-12.col-md-12.col-sm-12.col-xs-12.padding-col-0(style="margin: 16px 0;",ng-repeat="collections in transactions.item.payments")    
        .col-lg-2.col-md-2.col-sm-2.col-xs-2.text-center
          span.black 
            time-ago.black(from-time="{{collections.date}}")
        .col-lg-2.col-md-2.col-sm-2.col-xs-2.text-center
          span.black {{banksaccount[collections.bank].name}}
        .col-lg-4.col-md-4.col-sm-4.col-xs-4.text-center
          span.black(ng-if="collections.type==0") Transferencia
          span.black(ng-if="collections.type==1") Deposito
          br
          span 
            b.black N° {{collections.ref}}
        .col-lg-2.col-md-2.col-sm-2.col-xs-2.text-center
          span.price.red(style="display: inline-block !important;font-size: 12px;")
            b(style="width: 100%;word-break: break-word;")
              | {{collections.sum | filterMoney : "Bs" : true}}
              sup 00
        .col-lg-2.col-md-2.col-sm-2.col-xs-2.text-center
            span.black 
              | En Proceso
              i.fa.fa-clock-o.fa-fw.orange
        .clearfix
      .col-lg-12.col-md-12.col-sm-12.col-xs-12(ng-if="transactions.item.type === 1 && transactions.item.payments.length>0")
        .alert.alert-info(style="padding: 5px;margin: 10px 0;")
          i.fa.fa-info-circle.fa-fw
          span 
            b.color-apdp Pana
          span
            b.black pago 
          | ha registrado {{user._id == transactions.item.seller._id ? 'su': 'tu'}} pago, en 24 horas habiles validaremos la información.
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .col-lg-4.col-md-4.col-sm-6.col-xs-6
          span.black Monto restante
        .col-lg-8.col-md-8.col-sm-6.col-xs-6
          span.price.red(style="display: inline-block!important;font-size: 12px;")
            b.pull-right.text-right(style="width: 100%;")
              | {{transactions.item.remainingPrice | filterMoney : "Bs" : true}}
              sup 00
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .col-lg-4.col-md-4.col-sm-6.col-xs-6
          span.black Monto cancelado
        .col-lg-8.col-md-8.col-sm-6.col-xs-6
          span(style="display: inline-block!important;font-size: 12px;")
            b.green(style="width: 100%;")
              | {{transactions.item.cancelPrice | filterMoney : "Bs" : true}}
              sup.green 00
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .col-lg-5.col-md-5.col-sm-5.col-xs-12.text-left(ng-if="transactions.item.type == 1 && transactions.item.remainingPrice != 0 && transactions.item.remainingPrice > transactions.item.cancelPrice")
          a.pointer(ui-sref="base.checkout({id: transactions.item._id})",ng-if="user._id != transactions.item.seller._id")
            | Pagar con 
            span
              b.color-apdp Pana
            span
              b.black pago
        //- .col-lg-1.col-md-1.col-sm-1.col-xs-12.hidden-xs.text-center
        //-   |  | 
        .col-lg-5.col-md-5.col-sm-5.col-xs-12.text-left(ng-if="transactions.item.type == 0 && transactions.item.remainingPrice != 0 && transactions.item.remainingPrice > transactions.item.cancelPrice")
          a.pointer(ui-sref="base.checkout({id: transactions.item._id})")
            | Pagar al vendedor
      .col-xs-12.col-sm-12.col-md-12.col-lg-12(ng-if="user._id != transactions.item.seller._id")
        .alert.alert-warning(style="padding: 5px;margin: 10px 0;border: none;",ng-if="!transactions.item.payments.length>0")
          i.fa.fa-exclamation-triangle.fa-fw
          |  Aún {{user._id === transactions.item.seller._id ? 'no te han': 'tu no haz'}} realizado ningun pago.
      .col-xs-12.col-sm-12.col-md-12.col-lg-12(style="margin: 18px 0;")
        h4.black Datos de Facturación
        hr
      .col-xs-12.col-sm-12.col-md-12.col-lg-12(ng-if="!transactions.item.billing.id")
        .alert.alert-warning(style="padding: 5px;margin: 10px 0;border: none;")  
          i.fa.fa-exclamation-triangle.fa-fw
          |  Aún no {{user._id === transactions.item.seller._id ? 'han' : 'haz'}} especificado los datos de facturación.
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.text-right(style="padding-top: 20px;")
          a.pointer(ng-click="modal.billing()", ng-if="user._id != transactions.item.seller._id") Agregar datos
      .col-xs-12.col-sm-12.col-md-12.col-lg-12(ng-if="transactions.item.billing.id")
        .col-xs-5.col-sm-5.col-md-5.col-lg-5.padding-col-0
          i.fa.fa-user.fa-fw.black
          span.black
            b.black {{transactions.item.billing.name}} 
        .col-xs-7.col-sm-7.col-md-7.col-lg-7.padding-col-0
          span.black {{transactions.item.billing.idp}}-{{transactions.item.billing.id}}
        .col-xs-5.col-sm-5.col-md-5.col-lg-5.padding-col-0
          i.fa.fa-map-marker.fa-fw.black
          span.black
            b.black Dirección Fiscal
        .col-xs-7.col-sm-7.col-md-7.col-lg-7.padding-col-0
          span.black {{transactions.item.billing.address}}
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.text-right(style="padding-top: 20px;",ng-if="user._id != transactions.item.seller._id")
          a.pointer(ng-click="modal.billing()") Cambiar datos de facturación
      .col-xs-12.col-sm-12.col-md-12.col-lg-12(style="margin: 18px 0;")
        h4.black Envío
        hr
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .col-xs-5.col-sm-5.col-md-5.col-lg-5.padding-col-0
          i.fa.fa-user.fa-fw.black
          span.black
            b.black {{transactions.item.delivery.name}} 
        .col-xs-7.col-sm-7.col-md-7.col-lg-7.padding-col-0
          span.black {{transactions.item.delivery.idp}}-{{transactions.item.delivery.id}}
        .col-xs-5.col-sm-5.col-md-5.col-lg-5.padding-col-0 
          i.fa.fa-map-marker.fa-fw.black
          span.black
            b.black Dirección Fiscal
        .col-xs-7.col-sm-7.col-md-7.col-lg-7.padding-col-0
          span.black {{transactions.item.delivery.address}}
        .col-xs-5.col-sm-5.col-md-5.col-lg-5.padding-col-0
          i.fa.fa-map-marker.fa-fw.black
          span.black
            b.black Agencia de Transporte
        .col-xs-7.col-sm-7.col-md-7.col-lg-7.padding-col-0
          span.black {{agency[transactions.item.delivery.agency]}}
        .col-xs-5.col-sm-5.col-md-5.col-lg-5.padding-col-0
          i.fa.fa-address-card.fa-fw.black
          span.black
            b.black Numero de Referencia del Envio
        .col-xs-7.col-sm-7.col-md-7.col-lg-7.padding-col-0
          span.black {{transactions.item.delivery.ref}}
        .col-xs-5.col-sm-5.col-md-5.col-lg-5.padding-col-0
           i.fa.fa-file.fa-fw.black
           span.black
              b.black Comprobante de Envio
        .col-xs-7.col-sm-7.col-md-7.col-lg-7.padding-col-0
          span.black 
            a.pointer(data-toggle="modal",data-target="#ref") Ver Comprobante
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .alert.alert-warning(style="padding: 5px;margin: 10px 0;border: none;",ng-if="!transactions.item.delivery.ref")
          i.fa.fa-exclamation-triangle.fa-fw
          |  Aún {{user._id === transactions.item.seller._id ? 'no haz': 'no te han'}} realizado ningun envio.
        .alert.alert-info(style="padding: 5px;margin: 10px 0;border: none;",ng-if="transactions.item.delivery.agency === '2'")
          i.fa.fa-truck.fa-fw
          | Has solicitado entrega personal
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.text-right(style="padding-top: 20px;",ng-if="!transactions.item.delivery.name && user._id != transactions.item.seller._id")
          a.pointer(ng-click="modal.delivery()") Agregar datos de envio
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.text-right(style="padding-top: 20px;",ng-if="transactions.item.delivery.name")
          a.pointer(ng-click="modal.delivery()",ng-if="user._id != transactions.item.seller._id") Modificar datos de envio
          a.pointer(ng-click="modal.delivery()",ng-if="transactions.item.delivery.name && user._id == transactions.item.seller._id && !transactions.item.delivery.ref && !transactions.item.delivery.file") Agregar datos de Envio
      //- .col-xs-12.col-sm-12.col-md-12.col-lg-12
      //-   h4.black Comentarios
      //-   hr
      //- .col-xs-12.col-sm-12.col-md-12.col-lg-12
      //- 
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        h4.black Calificación
        hr
      .col-xs-12.col-sm-12.col-md-12.col-lg-12(ng-if="user._id != transactions.item.seller._id")
        h6.black Tu Calificacion y Comentario
        .col-xs-12.col-sm-4.col-md-4.col-lg-4
          i.fa.fa-fw(ng-class="{'fa-plus-circle positive': transactions.item.rate.seller.rate === '1','fa-circle neutral': transactions.item.rate.seller.rate === '2','fa-minus-cicle negative': transactions.item.rate.seller.rate === '3','fa-clock-o opacity grey': transactions.item.rate.seller.rate === '0'}")
          span.black(ng-if="transactions.item.rate.seller.rate === '1'") Calificaste Positivo		
          span.black(ng-if="transactions.item.rate.seller.rate === '2'") Calificaste Neutral		
          span.black(ng-if="transactions.item.rate.seller.rate === '3'") Calificaste Negativo	
          span.black(ng-if="transactions.item.rate.seller.rate === '0'") Aún no has calificado
        .col-xs-12.col-sm-8.col-md-8.col-lg-8
          p.black(style="margin: 0;") {{transactions.item.rate.seller.comment}}
        .clearfix
      .col-xs-12.col-sm-12.col-md-12.col-lg-12(ng-if="user._id == transactions.item.seller._id")
        h6.black Tu Calificacion y Comentario
        .col-xs-12.col-sm-4.col-md-4.col-lg-4
          i.fa.fa-fw(ng-class="{'fa-plus-circle positive': transactions.item.rate.buyer.rate === '1','fa-circle neutral': transactions.item.rate.buyer.rate === '2','fa-minus-cicle negative': transactions.item.rate.buyer.rate === '3','fa-clock-o opacity grey': transactions.item.rate.buyer.rate === '0'}")
          span.black(ng-if="transactions.item.rate.buyer.rate === '1'") Calificaste Positivo		
          span.black(ng-if="transactions.item.rate.buyer.rate === '2'") Calificaste Neutral		
          span.black(ng-if="transactions.item.rate.buyer.rate === '3'") Calificaste Negativo	
          span.black(ng-if="transactions.item.rate.buyer.rate === '0'") Aún no has calificado
        .col-xs-12.col-sm-8.col-md-8.col-lg-8
          p.black(style="margin: 0;") {{transactions.item.rate.seller.comment}}
        .clearfix
      .col-xs-12.col-sm-12.col-md-12.col-lg-12(ng-if="user._id != transactions.item.seller._id")
        h6.black Te Calificacion y Comentario
        .col-xs-12.col-sm-4.col-md-4.col-lg-4
          i.fa.fa-fw(ng-class="{'fa-plus-circle positive': transactions.item.rate.buyer.rate === '1','fa-circle neutral': transactions.item.rate.buyer.rate === '2','fa-minus-cicle negative': transactions.item.rate.buyer.rate === '3','fa-clock-o opacity grey': transactions.item.rate.buyer.rate === '0'}")
          span.black(ng-if="transactions.item.rate.buyer.rate === '1'") Calificaste Positivo		
          span.black(ng-if="transactions.item.rate.buyer.rate === '2'") Calificaste Neutral		
          span.black(ng-if="transactions.item.rate.buyer.rate === '3'") Calificaste Negativo	
          span.black(ng-if="transactions.item.rate.buyer.rate === '0'") Aún no has calificado
        .col-xs-12.col-sm-8.col-md-8.col-lg-8 
          p.black(style="margin: 0;") {{transactions.item.rate.buyer.comment}}
      .col-xs-12.col-sm-12.col-md-12.col-lg-12(ng-if="user._id == transactions.item.seller._id")
        h6.black Te Calificacion y Comentario
        .col-xs-12.col-sm-4.col-md-4.col-lg-4
          i.fa.fa-fw(ng-class="{'fa-plus-circle positive': transactions.item.rate.seller.rate === '1','fa-circle neutral': transactions.item.rate.seller.rate === '2','fa-minus-cicle negative': transactions.item.rate.seller.rate === '3','fa-clock-o opacity grey': transactions.item.rate.seller.rate === '0'}")
          span.black(ng-if="transactions.item.rate.seller.rate === '1'") Calificaste Positivo		
          span.black(ng-if="transactions.item.rate.seller.rate === '2'") Calificaste Neutral		
          span.black(ng-if="transactions.item.rate.seller.rate === '3'") Calificaste Negativo	
          span.black(ng-if="transactions.item.rate.seller.rate === '0'") Aún no has calificado
        .col-xs-12.col-sm-8.col-md-8.col-lg-8 
          p.black(style="margin: 0;") {{transactions.item.rate.buyer.comment}}
#billing.modal.fade(tabindex="-1",role="dialog",aria-labelledby="delivery")
  .modal-dialog.blue(role="document")
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Close")
          span.black(aria-hidden="true") &times;
        h3(style="margin: 0;")
          img(ng-src="http://50.21.179.35:8083/bill-ok.png",width="50",height="51") 
          span Datos de Facturación
      .modal-body
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          form(ng-submit="on.billing()")
            .col-xs-12.col-sm-12.col-md-12.col-lg-12.has-feedback
              label.black Cedula/RIF
            .form-group.col-xs-12.col-sm-12.col-md-3.col-lg-3.has-feedback
              select.form-control(ng-model="on.form.idp")
                option(ng-value="V",ng-selected="on.form.idp === 'V'") V
                option(ng-value="E",ng-selected="on.form.idp === 'E'") E
                option(ng-value="P",ng-selected="on.form.idp === 'P'") P
                option(ng-value="R",ng-selected="on.form.idp === 'R'") R
            .form-group.col-xs-12.col-sm-12.col-md-9.col-lg-9.has-feedback
              input.form-control(type="text",ng-model="on.form.id",placeholder="Ingresa el documento de la persona o empresa")
            .form-group.col-xs-12.col-sm-12.col-md-12.col-lg-12.has-feedback
              label.black Nombre/Razon social
              input.form-control(type="text",ng-model="on.form.name",placeholder="Ingresa el nombre o razon social")
            .form-group.col-xs-12.col-sm-12.col-md-12.col-lg-12.has-feedback
              label.black Dirección
              input.form-control(type="text",ng-model="on.form.address",placeholder="Ingresa la dirección")
            .modal-footer.col-xs-12.col-sm-12.col-md-12.col-lg-12
              button.btn.btn-default(type="button",data-dismiss="modal") Cancelar
              button#btn-billing.btn.btn-send(type="submit",data-loading-text="Loading...") Listo 
#delivery.modal.fade(tabindex="-1",role="dialog",aria-labelledby="delivery")
  .modal-dialog.blue(role="document")
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Close")
          span.black(aria-hidden="true") &times;
        h3(style="margin: 0;") 
          img(ng-src="http://50.21.179.35:8083/bill-ok.png",width="50",height="51")
          span Envios
      .modal-body
        form(ng-submit="on.delivery()")
          div(ng-if="user._id != transactions.item.seller._id")
            .col-xs-12.col-sm-12.col-md-12.col-lg-12.has-feedback
              label.black Cedula/RIF
            .form-group.col-xs-12.col-sm-12.col-md-3.col-lg-3.has-feedback
              select.form-control(ng-model="on.form.idp",required)
                option(ng-value="V",ng-selected="on.form.idp === 'V'") V
                option(ng-value="E",ng-selected="on.form.idp === 'E'") E
                option(ng-value="P",ng-selected="on.form.idp === 'P'") P
                option(ng-value="R",ng-selected="on.form.idp === 'R'") R
            .form-group.col-xs-12.col-sm-12.col-md-9.col-lg-9.has-feedback
              input.form-control(type="text",ng-model="on.form.id",placeholder="Ingresa el documento de la persona o empresa", required)
            .form-group.col-xs-12.col-sm-12.col-md-12.col-lg-12.has-feedback
              label.black Nombre/Razon social
              input.form-control(type="text",ng-model="on.form.name",placeholder="Ingresa el nombre o razon social", required)
            .form-group.col-xs-12.col-sm-12.col-md-12.col-lg-12
              label.black Agencia de Transporte
              select.form-control(ng-model="on.form.agency",required)
                option(ng-seleted="true",ng-value="false",seleted="seleted",ng-disabled="true") Seleccione
                option(ng-value="0",ng-selected="on.form.agency == '0'") Zoom
                option(ng-value="1",ng-selected="on.form.agency == '1'") MRW
                option(ng-value="2",ng-selected="on.form.agency == '2'") Entrega Personal
                option(ng-value="3",ng-selected="on.form.agency == '3'") DHL
                option(ng-value="4",ng-selected="on.form.agency == '4'") Domesa 
                option(ng-value="5",ng-selected="on.form.agency == '5'") Ipostel
                option(ng-value="6",ng-selected="on.form.agency == '6'") Tealca
              i.form-control-feedback.fv-icon-no-label
              small.help-block.hidden Por favor introduce un valor
            .form-group.col-xs-12.col-sm-12.col-md-12.col-lg-12.has-feedback
              label.black Dirección
              input.form-control(type="text",ng-model="on.form.address",placeholder="Ingresa la dirección",required)
          div(ng-if="user._id == transactions.item.seller._id && !transactions.item.delivery.ref && transactions.item.delivery.file")
            .form-group.col-xs-12.col-sm-12.col-md-12.col-lg-12.has-feedback
              label.black Numero de Referencia del Envio
              input.form-control(type="text",ng-model="on.form.ref",placeholder="Numero de Referencia del Envio", required)
            .form-group.col-xs-12.col-sm-12.col-md-12.col-gl-12.has-feedback
              label.black Comprobante de Envio
              input.form-control(type="file",ngf-select,ngf-drop,ng-model="on.form.file", required)              
          .modal-footer
            button.btn.btn-default(type="button",data-dismiss="modal") Cancelar
            button#btn-delivery.btn.btn-send(type="submit",data-loading-text="Loading...") Listo 
#rating.modal.fade.in.blue(tabindex="-1",role="dialog",aria-labelledby="rating")
  .modal-dialog.modal-lg(role="document")
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Close")
          span(aria-hidden="true") ×
        h3.modal-title
          img(ng-src="http://50.21.179.35:8083/bill-ok.png",width="50",height="51")
          span Calificación
      .modal-body
        .col-xs-12.col-sm-12.col-md-12.col-lg-12(style="background: #f5f5f5;border: solid 1px #ccc;")
          .col-xs-12.col-sm-12.col-md-12.col-lg-12(style="padding: 15px;")
            h4.black Datos del Vendedor
            a(ui-sref="user.info({id: rating.seller._id})")
              img(ng-src="http://50.21.179.35:8083/{{rating.seller.photo}}",width="30%",height="30%")
          .col-xs-12.col-sm-12.col-md-12.col-lg-12(style="padding: 15px;")
            a(ui-sref="user.info({id: rating.seller._id})") {{rating.seller.username}}
            br
            span.black {{rating.seller.name}}
            br
            copy-text(ng-model="rating.seller.mail")
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            h4.black ¿Como te fue con el vendedor en esta operacion?
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              .col-xs-1.col-sm-1.col-md-1.col-lg-1(style="padding: 0;")
                a.pointer(ng-click="on.form.rating = 0",ng-class="{'positive': on.form.rating===0}")
                  i.fa.fa-plus-circle.fa-fw.fa-2x(style="color: #333;")
              .col-xs-10.col-sm-10.col-md-10.col-lg-10(style="padding: 0;padding-top: 4px;")
                span.black Calificar positivo
              .clearfix(style="margin-bottom: 10px;")
              .col-xs-1.col-sm-1.col-md-1.col-lg-1(style="padding: 0;")
                a.pointer(ng-click="on.form.rating = 1",ng-class="{'neutral': on.form.rating===1}")
                  i.fa.fa-circle.fa-fw.fa-2x(style="color: #333;")
              .col-xs-10.col-sm-10.col-md-10.col-lg-10(style="padding: 0;padding-top: 4px;")
                span.black Calificar neutral
              .clearfix(style="margin-bottom: 10px;")
              .col-xs-1.col-sm-1.col-md-1.col-lg-1(style="padding: 0;")
                a.pointer(ng-click="on.form.rating = 2",ng-class="{'negative': on.form.rating===2}")
                  i.fa.fa-minus-circle.fa-fw.fa-2x(style="color: #333;")
              .col-xs-10.col-sm-10.col-md-10.co1-lg-10(style="padding: 0;padding-top: 4px;")
                span.black Calificar negativo
              .clearfix(style="margin-bottom: 10px;")
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              form(ng-submit="on.rating()")
                .form-group
                  textarea.form-control(placeholder="Comentario ...",ng-model="on.form.comment")
                .alert.alert-info
                  i.fa.fa-info-circle
                  |  Es importante que dejes tu comentario referente a la venta, de este modo generaremos confianza en la comunidad
                .modal-footer
                  button#btn-comment.btn.btn-send.pull-right(type="submit",data-loading-text="Loading...") Listo
                  | &nbsp;
                  button.btn.btn-default.pull-right(type="reset") Limpiar
#ref.modal.fade.in.blue(tabindex="-1",role="dialog",aria-labelledby="rating")
  .modal-dialog.modal-lg(role="document")
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Close")
          span(aria-hidden="true") ×
        h3.modal-title
          img(ng-src="http://50.21.179.35:8083/bill-ok.png",width="50",height="51")
          span Comprobante
      .modal-body
        .text-center
          img(ng-src="http://50.21.179.35:8083/{{transactions.item.delivery.file}}",alt="")
      .modal-footer
        button.btn.btn-send.pull-right(type="button",data-dismiss="ref") Cerrar
