.row(style="padding-left: 36px;padding-right: 36px;")
  .col-lg-12.col-md-12.col-sm-12.col-xs-12.content-shadow-border
    .col-xs-12.col-sm-12.col-md-4.col-lg-4
      h3.margin-0.black 
        i.fa.fa-tags.black
        |  Seguidores
    .col-xs-12.col-sm-12.col-md-8.col-lg-8.text-right.hidden-xs
      .navbar-form.margin-0.text-center(role="filter")
        .btn-group
          button.btn.btn-default
            i.fa.fa-list
          button.btn.btn-default
            i.fa.fa-th-large
        form(ng-submit="send.search()",style="display: inline-block;")
          .input-group
            span.input-group-btn
              button.btn.btn-default(type="submit")
                i.fa.fa-search 
            input.form-control(type="text",placeholder="Buscar",ng-model="send.form.search")
        select#filter2.form-control.input(name="filter2")
          option(value="0") Todos
          option(value="1") Mas Ventas
          option(value="2") Empresas
          option(value="3") Personas
          option(value="4") Tachira
    .col-xs-12.col-sm-12.col-md-8.col-lg-8.text-right.padding-col-0.hidden-lg.hidden-md.hidden-sm
      .navbar-form.margin-0.text-center(role="filter")
        .col-xs-6.padding-col-0
          form(ng-submit="send.search()",style="display: inline-block;")
            .input-group
              span.input-group-btn
                button.btn.btn-default(type="submit")
                  i.fa.fa-search 
              input.form-control(type="text",placeholder="Buscar",ng-model="send.form.search")
        .col-xs-6.padding-col-0
          select#filter2.form-control.input(name="filter2")
            option(value="0") Todos
            option(value="1") Mas Ventas
            option(value="2") Empresas
            option(value="3") Personas
            option(value="4") Tachira
        .col-xs-12.padding-col-0
          .btn-group
            button.btn.btn-default
              i.fa.fa-list
            button.btn.btn-default
              i.fa.fa-th-large
.row(style="padding-left: 36px;padding-right: 36px;")
  .col-lg-3.col-md-3.col-sm-6.col-xs-12(ng-repeat="collections in follows.items")
    .thumbnail.content-shadow-border(style="padding-bottom: 0;height: 326px;position: relative;")
      a(ui-sref="user.publication({id: collections.follower._id})")
        img(ng-src="http://50.21.179.35:8083/{{collections.follower.photo}}",alt="profile-photo")
      .caption.text-center(style="word-wrap: break-word;")
        a(ui-sref="user.publication({id: collections.follower._id})")
          span {{collections.follower.username}}
        small {{collections.follower.name}}
        span(ng-if="collections.followyou") Siguiendote
        .following.text-center(style="position: absolute;bottom: 20px;left: 0;right: 0;")
          btn-follow(ng-model="collections.followed._id",on="collections.youfollow",change="change()") 
  .col-md-12(ng-if="follows.total===0")
    .alert.alert-warning.text-center(role="alert")
      i.fa.fa-info-circle.fa-fw
      | {{$parent.info.username}} aun no tienes seguidores.
  .col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center(ng-show="flag && total>limit")
    ul(uib-pagination,total-items="total",ng-model="currentPage",items-per-page="limit",max-size="5",ng-change="pageChanged()",num-pages="num",class="pagination-sm",boundary-link-numbers="true",rotate="false")    
