#publish.row(style="border: none;")
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    h4.title 
      span.black Actualizacion de la publicación
      a.pull-right(ui-sref="sales.publication",style="display: block;")
        | Volver
    hr
    br
    br
    form(ng-submit="on.submit()")
      .col-xs-12(style="margin-top: 20px;")
        .subtitle  
          b.black Ingresa las fotos de tu producto
          br
          .alert.alert-info(role="alert")
            i.fa.fa-info-circle.fa-fw
            b Recomendación: 
            | Procura que la imagen sea de buena calidad y obtendras mejores resultados en tus ventas.
      .col-xs-12(style="margin-bottom: 20px;")
        div(style="position:relative;display: inline-block;")
          span.delete-img.fa.fa-times.red(ng-click="outPhotos[0]=false",ng-if="outPhotos[0] || photosOld[0]") 
          .upload-img(ngf-select="PhotoEdit(0)",ng-model="photos[0]",ngf-accept="'image/*'")
            img(ngf-src="outPhotos[0]",width="100%",height="100%",ng-if="outPhotos[0]")
            img(ng-src="http://50.21.179.35:8083/camara.png",width="100%",height="100%",ng-if="!outPhotos[0] && !photosOld[0]")
            img(ng-src="http://50.21.179.35:8083/{{photosOld[0]}}",width="100%",height="100%",ng-if="photosOld[0] && !outPhotos[0]")        
        div(style="position:relative;display: inline-block;")
          span.delete-img.fa.fa-times.red(ng-click="outPhotos[1]=false",ng-if="outPhotos[1]")
          .upload-img(ngf-select="PhotoEdit(1)",ng-model="photos[1]",ng-disabled="!outPhotos[0]",ngf-accept="'image/*'")
            img(ngf-src="outPhotos[1]",width="100%",height="100%")
            img(ng-src="http://50.21.179.35:8083/camara.png",width="100%",height="100%",ng-if="!outPhotos[1]")          
        div(style="position:relative;display: inline-block;")
          span.delete-img.fa.fa-times.red(ng-click="outPhotos[2]=false",ng-if="outPhotos[2]")
          .upload-img(ngf-select="PhotoEdit(2)",ng-model="photos[2]",ng-disabled="!outPhotos[1]",ngf-accept="'image/*'")
            img(ngf-src="outPhotos[2]",width="100%",height="100%")
            img(ng-src="http://50.21.179.35:8083/camara.png",width="100%",height="100%",ng-if="!outPhotos[2]")        
        div(style="position:relative;display: inline-block;")
          span.delete-img.fa.fa-times.red(ng-click="outPhotos[3]=false",ng-if="outPhotos[3]")
          .upload-img(ngf-select="PhotoEdit(3)",ng-model="photos[3]",ng-disabled="!outPhotos[2]",ngf-accept="'image/*'")
            img(ngf-src="outPhotos[3]",width="100%",height="100%")
            img(ng-src="http://50.21.179.35:8083/camara.png",width="100%",height="100%",ng-if="!outPhotos[3]")        
        div(style="position:relative;display: inline-block;")
          span.delete-img.fa.fa-times.red(ng-click="outPhotos[4]=false",ng-if="outPhotos[4]")
          .upload-img(ngf-select="PhotoEdit(4)",ng-model="photos[4]",ng-disabled="!outPhotos[3]",ngf-accept="'image/*'")
            img(ngf-src="outPhotos[4]",width="100%",height="100%")
            img(ng-src="http://50.21.179.35:8083/camara.png",width="100%",height="100%",ng-if="!outPhotos[4]")        
        div(style="position:relative;display: inline-block;")
          span.delete-img.fa.fa-times.red(ng-click="outPhotos[5]=false",ng-if="outPhotos[5]")
          .upload-img(ngf-select="PhotoEdit(5)",ng-model="photos[5]",ng-disabled="!outPhotos[4]",ngf-accept="'image/*'")
            img(ngf-src="outPhotos[5]",width="100%",height="100%")
            img(ng-src="http://50.21.179.35:8083/camara.png",width="100%",height="100%",ng-if="!outPhotos[5]")
      .col-xs-12(style="margin-top: 20px;")
        .subtitle  
          b.black Colocale un titulo a tu producto
          br
          .alert.alert-warning(role="alert")
            i.fa.fa-info-circle.fa-fw
            b Advertencia:  
            | No debes de ingresar ninguna información de contacto, de lo contrario tu publicación sera excluida de las listas.
      .col-xs-12.col-sm-12.col-md-12.col-lg-6
        .form-group.has-feedback(ng-init="on.form.name=''",ng-class="{'has-success': on.form.name, 'has-error': on.form.name==undefined}")
            input.form-control(type="text",name="title",ng-model="on.form.name",placeholder="Titulo de la publicación",minlength="10",required)
            span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="on.form.name")
            span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="on.form.name==undefined")
            small.help-block(ng-show="on.form.name==undefined") Por favor introduce un valor
      .col-xs-12.col-sm-12.col-md-12.col-lg-6
        .input-group
          .input-group-addon
            input(type="checkbox",ng-model="flag",name="red-social")
          .alert.alert-info(style="font-size: 12px;margin: 0;padding: 8px;")
            | Aceptas compartir automaticamente en tus Redes Sociales 
        br
        .text-center(ng-hide="!flag")
          button.btn.btn-default(type="button",ng-click="on.form.onfacebook=!on.form.onfacebook")
            i.fa.fa-facebook-f.fa-fw.black
            | Facebook
            i.fa.fa-check.green.fa-fw(ng-if="on.form.onfacebook")
          | &nbsp
          button.btn.btn-default(type="button",ng-click="on.form.ontwitter=!on.form.ontwitter")
            i.fa.fa-twitter.fa-fw.black
            | Twitter
            i.fa.fa-check.green.fa-fw(ng-if="on.form.ontwitter")
          | &nbsp
          button.btn.btn-default(type="button",ng-click="on.form.onfanpage=!on.form.onfanpage")
            i.fa.fa-thumbs-o-up.fa-fw.black
            | Fan Page
            i.fa.fa-check.green.fa-fw(ng-if="on.form.onfanpage")
        br 
      .col-xs-12(style="margin-top: 20px;")
        .subtitle  
          b.black Describe tu producto
          br
          .alert.alert-info(role="alert")
            i.fa.fa-info-circle.fa-fw
            b Recomendación:  
            |  Para mejor exposición utiliza mas imagenes que texto en el detalle de tu publicación.
      .col-xs-12
        text-angular(ng-model="on.form.body",ta-disabled='false')
        textarea.hidden(name="description",style="position: absolute;bottom: 0;z-index: -1;",required) {{on.form.body}}
      .col-xs-12(style="margin-top: 20px;")
        .subtitle(style="margin-bottom: 10px;")  
          b.black Ubicacion del producto
      .col-xs-12.col-sm-12.col-md-4.col-lg-4.has-feedback(ng-init="onLocality.out[0]=''",ng-class="{'has-success': onLocality.out[0], 'has-error': onLocality.out[0]==undefined}")
        .form-group
          select.form-control(ng-change="onLocality.parent(1)",ng-model="onLocality.out[0]",required)
            option(ng-repeat="collection in onLocality.collections[0]",ng-value="collection._id",ng-selected="collection._id==onLocality.out[0]._id") {{collection.name}}
          span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="onLocality.out[0]")
          span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="onLocality.out[0]==undefined")
      .col-xs-12.col-sm-12.col-md-4.col-lg-4.has-feedback(ng-init="onLocality.out[1]=''",ng-class="{'has-success': onLocality.out[1], 'has-error': onLocality.out[1]==undefined}")
        .form-group
          select.form-control(ng-change="onLocality.parent(2)",ng-model="onLocality.out[1]",required,ng-disabled="!onLocality.out[0] &&  !onLocality.collections[1]")
            option(ng-repeat="collection in onLocality.collections[1]",ng-value="collection._id",ng-selected="collection._id==onLocality.out[1]._id") {{collection.name}}
          span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="onLocality.out[1]")
          span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="onLocality.out[1]==undefined")
      .col-xs-12.col-sm-12.col-md-4.col-lg-4.has-feedback(ng-init="onLocality.out[2]=''",ng-class="{'has-success': onLocality.out[2], 'has-error': onLocality.out[2]==undefined}")
        .form-group
          select.form-control(ng-change="onLocality.parent(3)",ng-model="onLocality.out[2]",required,ng-disabled="!onLocality.out[1] && !onLocality.collections[2]")
            option(ng-repeat="collection in onLocality.collections[2]",ng-value="collection._id",ng-selected="collection._id==onLocality.out[2]._id") {{collection.name}}
          span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="onLocality.out[2]")
          span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="onLocality.out[2]==undefined")
      .col-xs-12(style="margin-top: 20px;")
        .subtitle(style="margin-bottom: 10px;")  
          b.black Más especificaciones
      .col-xs-12.col-sm-12.col-md-4.col-lg-4.has-feedback(ng-class="{'has-success': on.form.state, 'has-error': on.form.state==undefined}") 
        .input-group
          span.input-group-addon Condición
          select.form-control(name="state",ng-model="on.form.state",required)
            option(ng-value="1",value="1",ng-selected="on.form.state === 1") Nuevo
            option(ng-value="2",value="2",ng-selected="on.form.state === 2") Usado
          span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="on.form.state")
          span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="on.form.state==undefined")
        small.help-block(ng-show="on.form.state==undefined") Por favor selecciona una opcion  
      .col-xs-12.col-sm-12.col-md-4.col-lg-4.has-feedback(ng-class="{'has-success': on.form.stock, 'has-error': on.form.stock==undefined}") 
        .input-group
          span.input-group-addon Unidades
          input.form-control(type="text",name="stock",ng-model="on.form.stock",pattern="[0-9]{1,}",required)
          span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="on.form.stock")
          span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="on.form.stock==undefined")
        small.help-block(ng-show="on.form.stock==undefined") Por favor introduce un valor ó valor valido
      .col-xs-12.col-sm-12.col-md-4.col-lg-4.has-feedback(ng-class="{'has-success': on.form.price, 'has-error': on.form.price==undefined}") 
        .input-group
          span.input-group-addon Bs
          input.form-control(type="text",name="price",ng-model="on.form.price",pattern="[0-9]{1,}",required)
          span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="on.form.price")
          span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="on.form.price==undefined")
        small.help-block(ng-show="on.form.price==undefined") Por favor introduce un valor ó valor valido
      .col-xs-12(style="margin-top: 10px;")
        .checkbox
          label.pull-left(style="margin-top: 8px;") 
            input(type="checkbox",ng-model="waranty",name="waranty")
            | ¿Tu producto cuenta con garantia?
          | &nbsp;
          .form-group.col-lg-2.col-md-2(style="margin-bottom: 0;")
            select.form-control(ng-model="on.form.waranty",ng-if="waranty",ng-required="waranty",name="waranty1")
              option(value="-1") A consultar
              option(value="15") 15 Dias
              option(value="30") 1 Mes
              option(value="60") 2 Meses
              option(value="90") 3 Meses
              option(value="180") 6 Meses
              option(value="270") 9 Meses
              option(value="365") 1 Año
              option(value="730") 2 Años
              option(value="1095") 3 Años
              option(value="1825") 5 Años
      .col-xs-12
        .checkbox
          label
            input(type="checkbox",ng-model="on.form.invoice",name="invoice")
            | ¿Entregas factura fiscal?
      .col-xs-12
        .checkbox
          label
            input(type="checkbox",ng-model="on.form.physical",name="physical")
            | ¿Eres tienda fisica? 
      br
      br
      br
      .col-xs-12.text-right
        button#btnCancel.btn.btn-default.btn-lg(type="button",ui-sref="sales.publications({state: 'enabled', page: 1, search: undefined})") Cancelar
        | &nbsp;
        button#btnContinue.btn.btn-send.btn-lg(type="submit",data-loading-text="Loading...") Continuar
#Preview.modal.fade.blue(tabindex="-1",role="dialog",aria-labelledby="Preview")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span.black(aria-hidden="true") &times;
          img.margin-center(ng-src="http://50.21.179.35:8083/bill-ok.png",alt="bill-ok",width="50px",height="50px")
          span Edita la foto de tu producto
        .modal-body.text-center
          .center-block.row(ng-if="inputPhotos[i]")    
              ng-croppie(src="inputPhotos[i]",ng-model='outPhotos[i]',update='onUpdate',boundry="{w: 600, h: 600}",viewport="{w: 300, h: 300}",orientation="true",rotation="90",type="square",mousezoom="true",zoom="true",zoomslider="true",enableResize="true")
        .modal-footer
          .col-md-12
            button.btn.btn-default(type="button",ngf-select="PhotoEdit(i)",ng-model="photos[i]",ngf-select-disabled="disabled[i]")
              | Cambiar Imagen
            button.btn.btn-primary(type="button",data-dismiss="modal",aria-label="Close")
              | Guardar					
