#sales
  h4.title 
    span.black Mis Compras
  hr
  .tabs-item
    ul.nav.nav-tabs(role="tablist")
      li(role="presentation",ng-class="{'active': options==0}")
        a(ui-sref="purchases.purchases({state: 'enabled', page: 1, search: undefined, orderSales: undefined, orderDate: undefined})",aria-controls="enabled",role="tab") 
          | Abiertas 
          span.badge.badge-publicar-before  {{activeTotal}} 
      li(role="presentation",ng-class="{'active': options==1}")
        a(ui-sref="purchases.purchases({state: 'complete', page: 1, search: undefined, orderSales: undefined, orderDate: undefined})",aria-controls="pause",role="tab") 
          | Cerradas 
          span.badge.badge-publicar-before    {{endedTotal}}
    br
    .filter-search
      .row.hidden-xs
        .col-lg-5.col-md-5
          form(ng-submit="send.search()")
            .input-group
              input.form-control(type="text",placeholder="Buscar",ng-model="send.form.search")
              span.input-group-btn
                button.btn.btn-default(type="submit")
                  i.glyphicon.glyphicon-search
        .col-lg-7.col-md-7.text-right
          .btn-group
            button.btn.btn-default(type="button") Filtrar
            button.btn.btn-default.dropdown-toggle(type="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
              span.caret
              span.sr-only Toggle Dropdown
            ul.dropdown-menu
              li(ng-click="send.filter(1)",ng-class="{'active': orderSales==1}")
                a.pointer Más Vendidas
              li(ng-click="send.filter(-1)",ng-class="{'active': orderSales==-1}")
                a.pointer Menos Vendidas
          | &nbsp;
          | &nbsp;
          span
            span(ng-if="options===0 &&totalActive>=1") Publicaciones {{limit*currentPage}} de
            span(ng-if="options===1 &&totalComplete>=1") Publicaciones {{limit*currentPage}} de
            span(ng-if="options===0 && totalActive>=1")  {{totalActive}}
            span(ng-if="options===1 && totalComplete>=1")  {{totalComplete}}
          | &nbsp;
          | &nbsp;
          select.form-control.input-sm(style="max-width: 150px;display:inline-block",ng-model="send.form.sort",ng-change="send.filter()")
            option(value="-1",ng-selected="true") Más Recientes
            option(value="1") Menos Recientes
      .row.hidden-lg.hidden-md.hidden-sm
        .col-xs-12(style="padding-bottom: 5px;")
          form(ng-submit="send.search()")
            .input-group
              input.form-control(type="text",placeholder="Buscar",ng-model="send.form.search")
              span.input-group-btn
                button.btn.btn-default(type="submit")
                  i.glyphicon.glyphicon-search
        .col-xs-12
          .col-xs-12.padding-col-0
            .col-xs-6.padding-col-0
              .btn-group
                button.btn.btn-default(type="button") Filtrar
                button.btn.btn-default.dropdown-toggle(type="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
                  span.caret
                  span.sr-only Toggle Dropdown
                ul.dropdown-menu
                  li(ng-click="send.filter(1)",ng-class="{'active': orderSales==1}")
                    a.pointer Más Vendidas
                  li(ng-click="send.filter(-1)",ng-class="{'active': orderSales==-1}")
                    a.pointer Menos Vendidas
            .col-xs-6.padding-col-0.text-right
              select.form-control.input-sm(style="max-width: 150px;display:inline-block",ng-model="send.form.sort",ng-change="send.filter()")
                option(value="-1",ng-selected="true") Más Recientes
                option(value="1") Menos Recientes
          .col-xs-12.padding-col-0.text-right
            span
              span(ng-if="options===0 &&totalActive>=1") Publicaciones {{limit*currentPage}} de
              span(ng-if="options===1 &&totalComplete>=1") Publicaciones {{limit*currentPage}} de
              span(ng-if="options===0 && totalActive>=1")  {{totalActive}}
              span(ng-if="options===1 && totalComplete>=1")  {{totalComplete}} 
    br  
    .tab-content
      #enabled.tab-pane.fade(role="tabpanel",ng-class="{'active in': options==0}")
        .content-publication.row(ng-repeat="collections in itemsActive")
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .col-lg-10.col-md-10.col-ms-12.col-xs-12.padding-col-0
              .col-lg-5.col-md-5.col-sm-5.col-xs-12.padding-col-0
                .col-lg-4.col-md-4.col-sm-4.col-xs-12.padding-col-0
                  .framework-img
                    a(ui-sref="base.publication({id: collections.oldpublication._id})")
                      img.img-responsive.img-publish(ng-src="http://50.21.179.35:8083/{{collections.oldpublication.photos[0]}}",alt="framework-img")
                .col-lg-8.col-md-8.col-sm-8.col-xs-6
                  h5(style="margin: 0")
                    a(ui-sref="base.publication({id: collections.oldpublication._id})")
                      | {{collections.oldpublication.name}}
                  span.price.red(style="font-size: 14px;display: inline;")
                    | {{collections.price | filterMoney : "Bs" : true}}
                    sup.red 00
                  | &nbsp;
                  | x {{collections.quantity}} und
                .col-xs-6.hidden-lg.hidden-md.hidden-sm
                  h5(style="margin: 0") 
                    span.black {{collections.seller.name}}
                    br
                    a(ui-sref="user.info({id: collections.seller._id})") 
                      | {{collections.seller.username}}
                  copy-text(ng-model="collections.seller.mail")
                  //- small.text-muted {{collections.seller.mail}}
                  //- i.fa.fa-files-o.fa-fw
                  br
                  small.black {{collections.seller.phone}}
              .col-lg-3.col-md-3.col-sm-3.col-xs-12.hidden-xs
                h5(style="margin: 0") 
                  span.black {{collections.seller.name}}
                  br
                  a(ui-sref="user.info({id: collections.seller._id})") 
                    | {{collections.seller.username}}
                copy-text(ng-model="collections.seller.mail")
                //- small.text-muted {{collections.seller.mail}}
                //- i.fa.fa-files-o.fa-fw
                br
                small.black {{collections.seller.phone}}
              .col-lg-4.col-md-4.col-sm-4.col-xs-12
                .background-grey
                  a(href="#",data-toggle="modal",data-target="#purchase",ng-click="passedTransaction(collections)")
                    i.fa.fa-credit-card.fa-fw(ng-class="{'orange': collections.payments.length>0}")
                    | &nbsp;
                    span.black Pago Pendiente 
                  br
                  a(href="#",ng-click="deliveryTransactionAlert()",ng-if="!collections.delivery.ref")
                    i.fa.fa-truck.fa-fw
                    | &nbsp;
                    span.black Envio pendiente 
                  a(href="#",data-toggle="modal",data-target="#delivery",ng-click="deliveryTransaction(collections)",ng-if="collections.delivery.ref")
                    i.fa.fa-truck.fa-fw.red
                    span.black 17 horas en espera
                    i.fa.fa-clock-o.fa-fw
                  br
                  a(href="#",data-toggle="modal",data-target="#claims",ng-click="claimsTransaction(collections)",ng-if="!collections.report.comment")
                    i.fa.fa-exclamation-triangle.fa-fw.color-apdp
                    | &nbsp;
                    span.black Sin reclamos
                    | &nbsp;&nbsp;
                    | Abrir
                  a(href="#",ng-if="collections.report.comment")
                    i.fa.fa-exclamation-triangle.fa-fw.color-apdp
                    | &nbsp;
                    span.black Reclamo Activo
                  br
                  a(href="#",data-toggle="modal",data-target="#rating",ng-click="ratingTransaction(collections)",ng-if="collections.rate.seller.rate === '0'")
                    i.fa.fa-fw.fa-clock-o.opacity.grey
                    span.black Aún no has calificado
                    br
                  a.pointer(ng-if="collections.rate.buyer.rate === '0'") 
                    i.fa.fa-fw.fa-clock-o.opacity.grey
                    span.black Aún no te han calificado
                    br
                  a.pointer(ng-if="collections.rate.seller.rate != '0'")
                    i.fa.fa-fw(ng-class="{'fa-plus-circle positive': collections.rate.seller.rate === '1','fa-circle neutral': collections.rate.seller.rate === '2','fa-minus-cicle negative': collections.rate.seller.rate === '3','fa-clock-o opacity grey': collections.rate.seller.rate === '0'}")
                    span.black(ng-if="collections.rate.seller.rate === '1'") Calificaste Positivo		
                    span.black(ng-if="collections.rate.seller.rate === '2'") Calificaste Neutral		
                    span.black(ng-if="collections.rate.seller.rate === '3'") Calificaste Negativo	
                    span.black(ng-if="collections.rate.seller.rate === '0'") Aún no has calificado
                  br
                  a.pointer(ng-if="collections.rate.buyer.rate != '0'")
                    i.fa.fa-fw(ng-class="{'fa-plus-circle positive': collections.rate.buyer.rate === '1','fa-circle neutral': collections.rate.buyer.rate === '2','fa-minus-cicle negative': collections.rate.buyer.rate === '3','fa-clock-o opacity grey': collections.rate.buyer.rate === '0'}")
                    span.black(ng-if="collections.rate.buyer.rate === '1'") Te calificaron Positivo		
                    span.black(ng-if="collections.rate.buyer.rate === '2'") Te calificaron Neutral		
                    span.black(ng-if="collections.rate.buyer.rate === '3'") Te calificaron Negativo	
                    span.black(ng-if="collections.rate.buyer.rate === '0'") Aún no te han calificado					 
            .col-lg-2.col-md-2.col-ms-12.col-xs-12.padding-col-0
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.padding-col-0
                a(ui-sref="detailsTransactions({id: collections._id})") Ver Detalles
                br
                br
                .btn-group.btn-block
                  button.btn.btn-default.btn-block.dropdown-toggle(type="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false",style="border-radius: 4px;")
                    i.fa.fa-cog.black
                    i.fa.fa-caret-down.black
                  ul.dropdown-menu.col-xs-12.col-ms-12
                    li
                      a.pointer(ui-sref="base.checkout({id: collections._id})") Agregar Pago
            .clearfix
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              .line-horizontal
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center(ng-show="flag && totalActive>limit")
          ul(ng-show="totalActive>0",uib-pagination,total-items="totalActive",ng-model="currentPage",items-per-page="limit",max-size="5",ng-change="pageChanged()",num-pages="num",class="pagination-sm",boundary-link-numbers="true",rotate="false")  
      #finish.tab-pane.fade(role="tabpanel",ng-class="{'active in': options==1}")
        .content-publication.row(ng-repeat="collections in itemsComplete")
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .col-lg-10.col-md-10.col-ms-12.col-xs-12.padding-col-0
              .col-lg-5.col-md-5.col-sm-5.col-xs-12.padding-col-0
                .col-lg-4.col-md-4.col-sm-4.col-xs-12.padding-col-0
                  .framework-img
                    a(ui-sref="base.publication({id: collections.oldpublication._id})")
                      img.img-responsive.img-publish(ng-src="http://50.21.179.35:8083/{{collections.oldpublication.photos[0]}}",alt="framework-img")
                .col-lg-8.col-md-8.col-sm-8.col-xs-6
                  h5(style="margin: 0")
                    a(ui-sref="base.publication({id: collections.oldpublication._id})")
                      | {{collections.oldpublication.name}}
                  span.price.red(style="font-size: 14px;display: inline;")
                    | {{collections.price | filterMoney : "Bs" : true}}
                    sup.red 00
                  | &nbsp;
                  | x {{collections.quantity}} und
                .col-xs-6.hidden-lg.hidden-md.hidden-sm
                  h5(style="margin: 0") 
                    span.black {{collections.seller.name}}
                    br
                    a(ui-sref="user.info({id: collections.seller._id})") 
                      | {{collections.seller.username}}
                  copy-text(ng-model="collections.seller.mail")
                  //- small.text-muted {{collections.seller.mail}}
                  //- i.fa.fa-files-o.fa-fw
                  br
                  small.black {{collections.seller.phone}}
              .col-lg-3.col-md-3.col-sm-3.col-xs-12.hidden-xs
                h5(style="margin: 0") 
                  span.black {{collections.seller.name}}
                  br
                  a(ui-sref="user.info({id: collections.seller._id})") 
                    | {{collections.seller.username}}
                copy-text(ng-model="collections.seller.mail")
                //- small.text-muted {{collections.seller.mail}}
                //- i.fa.fa-files-o.fa-fw
                br
                small.black {{collections.seller.phone}}
              .col-lg-4.col-md-4.col-sm-4.col-xs-12
                .background-grey
                  a(href="#",data-toggle="modal",data-target="#purchase")
                    i.fa.fa-credit-card.fa-fw.orange
                    | &nbsp;
                    span.black Pago Pendiente 
                  br
                  a(href="#",data-toggle="modal",data-target="#SignUp")
                    i.fa.fa-truck.fa-fw.red
                    | &nbsp;
                    span.black Envio pendiente 
                    i.fa.fa-clock-o.fa-fw
                    | &nbsp;
                    span.black 17 horas en espera
                  br
                  a(href="#",data-toggle="modal",data-target="#claims",ng-if="!collections.report.comment")
                    i.fa.fa-exclamation-triangle.fa-fw.color-apdp
                    | &nbsp;
                    span.black Sin reclamos
                    | &nbsp;&nbsp;
                    | Abrir
                  a(href="#",ng-if="collections.report.comment")
                    i.fa.fa-exclamation-triangle.fa-fw.color-apdp
                    | &nbsp;
                    span.black Reclamo Activo
                  br
                  a(href="#",data-toggle="modal",data-target="#rating")
                    i.fa.fa-plus-circle.fa-fw.green
                    span.black Calificaste Positivo		
                    //- i.fa.fa-minus-circle.fa-fw.red
                    //- span.black Calificaste Negativo		
                  br
                  a(href="#",data-toggle="modal",data-target="#SignUp")
                    i.fa.fa-clock-o.fa-fw.opacity.grey
                    span.black Aun no te han calificado						 
            .col-lg-2.col-md-2.col-ms-12.col-xs-12.padding-col-0
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.padding-col-0
                a(ui-sref="detailsTransactions({id: collections._id})") Ver Detalles
                //- br
                //- br
                //- .btn-group.btn-block
                //-   button.btn.btn-default.btn-block.dropdown-toggle(type="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false",style="border-radius: 4px;")
                //-     i.fa.fa-cog.black
                //-     i.fa.fa-caret-down.black
                //-   ul.dropdown-menu.col-xs-12.col-ms-12
                //-     li
                //-       a.pointer() Agregar Pago
            .clearfix
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              .line-horizontal
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center(ng-show="flag && totalComplete>limit")
          ul(ng-show="totalComplete>0",uib-pagination,total-items="totalComplete",ng-model="currentPage",items-per-page="limit",max-size="5",ng-change="pageChanged()",num-pages="num",class="pagination-sm",boundary-link-numbers="true",rotate="false")  
#purchase.modal.fade(tabindex="-1",role="dialog",aria-labelledby="purchase")
  .modal-dialog.modal-lg(role="document")
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Close")
          span.black(aria-hidden="true") &times;
        h3.black(style="margin: 0;") Pagos
      .modal-body
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.padding-col-0(ng-if="!passed.payments.length>0")
           .alert.alert-warning(style="padding: 5px;margin: 10px 0;")
              i.fa.fa-exclamation-triangle.fa-fw(style="color: #8a6d3b;")
              |  Aún no has realizado ningun pago.
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.padding-col-0(style="padding-bottom: 8px;border-bottom: 1px solid #00000017;",ng-if="passed.payments.length>0")
          .col-lg-2.col-md-2.col-sm-2.col-xs-2.text-center
            span 
              b.black Fecha
          .col-lg-2.col-md-2.col-sm-2.col-xs-2.text-center
            span 
              b.black Banco
          .col-lg-4.col-md-4.col-sm-4.col-xs-4.text-center
            span 
              b.black Numero de Referencia & Forma de Pago
          .col-lg-2.col-md-2.col-sm-2.col-xs-2.text-center
            span 
              b.black Precio 
          .col-lg-2.col-md-2.col-sm-2.col-xs-2.text-center
            span
              b.black Estado
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.padding-col-0(style="margin: 16px 0;",ng-repeat="collections in passed.payments")    
          .col-lg-2.col-md-2.col-sm-2.col-xs-2.text-center
            span.black 
              time-ago.black(from-time="{{collections.date}}")
          .col-lg-2.col-md-2.col-sm-2.col-xs-2.text-center
            span.black {{banksaccount[collections.bank].name}}
          .col-lg-4.col-md-4.col-sm-4.col-xs-4.text-center
            span.black(ng-if="collections.way==0") Transferencia
            span.black(ng-if="collections.way==1") Deposito
            br
            span 
              b.black N° {{collections.ref}}
          .col-lg-2.col-md-2.col-sm-2.col-xs-2.text-center
            span.price.red
              b(style="width: 100%;word-break: break-word;")
                | {{collections.sum | filterMoney : "Bs" : true}}
                sup 00
          .col-lg-2.col-md-2.col-sm-2.col-xs-2.text-center
              span.black 
                | En Proceso
                i.fa.fa-clock-o.fa-fw.orange
          .clearfix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12(ng-if="passed.type === 1 && passed.payments.length>0")
          .alert.alert-info(style="padding: 5px;margin: 10px 0;")
            i.fa.fa-info-circle.fa-fw
            span 
              b.color-apdp Pana
            span
              b.black pago 
            | ha registrado tu pago, en 24 horas habiles validaremos la información.    
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          //- .col-lg-4.col-md-4.col-sm-6.col-xs-6
          //-   span.black Incremento
          //- .col-lg-8.col-md-8.col-sm-6.col-xs-6
          //-   span.price.red
          //-     b(style="width: 100%;")
          //-       | {{00 | filterMoney : "Bs" : true}}
          //-       sup 00
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          //- .col-lg-4.col-md-4.col-sm-6.col-xs-6
          //-   span.black Descuento
          //- .col-lg-8.col-md-8.col-sm-6.col-xs-6
          //-   span.price.red
          //-     b(style="width: 100%;")
          //-       | {{00 | filterMoney : "Bs" : true}}
          //-       sup 00
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .col-lg-4.col-md-4.col-sm-6.col-xs-6
            span.black Monto restante
          .col-lg-8.col-md-8.col-sm-6.col-xs-6
            span.price.red
              b.pull-right.text-right(style="width: 100%;")
                | {{passed.remainingPrice | filterMoney : "Bs" : true}}
                sup 00
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .col-lg-4.col-md-4.col-sm-6.col-xs-6
            span.black Monto cancelado
          .col-lg-8.col-md-8.col-sm-6.col-xs-6
            span(style="display: inline-block!important;font-size: 12px;")
              b.green(style="width: 100%;")
                | {{passed.cancelPrice | filterMoney : "Bs" : true}}
                sup.green 00
        .col-lg-12.col-md-12.col-sm-12.col-xs-12(style="margin-top: 1em;")
          .col-lg-5.col-md-5.col-sm-5.col-xs-12.text-left(ng-if="passed.type == 1 && passed.remainingPrice != 0 && passed.remainingPrice > passed.cancelPrice")
            a.pointer(href="#",ng-click="redirection(passed)")
              | Pagar con 
              span
                b.color-apdp Pana
              span
                b.black pago
          //- .col-lg-1.col-md-1.col-sm-1.col-xs-12.hidden-xs.text-center
          //-   |  | 
          .col-lg-5.col-md-5.col-sm-5.col-xs-12.text-left(ng-if="passed.type == 0 && passed.remainingPrice != 0 && passed.remainingPrice > passed.cancelPrice")
            a.pointer(href="#",ng-click="redirection(passed)")
              | Pagar al vendedor
      .modal-footer
        button.btn.btn-send(type="submit") Continuar
#delivery.modal.fade(tabindex="-1",role="dialog",aria-labelledby="delivery")
  .modal-dialog.blue(role="document")
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Close")
          span.black(aria-hidden="true") &times;
        h3(style="margin: 0;") Envios
      .modal-body
        .col-xs-12.col-sm-12.col-md-12.col-lg-12(ng-if="delivery.name")
          label Fecha de Envio
          span 
            time-ago(from-time="{{delivery.date}}")
        .col-xs-12.col-sm-12.col-md-12.col-lg-12(ng-if="delivery.name")
          label Cantidad
          br
          span {{delivery.quantity}}
        .col-xs-12.col-sm-12.col-md-12.col-lg-12(ng-if="delivery.name")
          label Agencia de Transporte
          br
          span {{delivery.agency}}
        .col-xs-12.col-sm-12.col-md-12.col-lg-12(ng-if="delivery.name")
          label Numero de Guía
          br
          span {{delivery.ref}}
        .col-xs-12.col-sm-12.col-md-12.col-lg-12(ng-if="delivery.name")
          label Dirección de Envio
          br
          span {{delivery.address}}
        .col-xs-12.col-sm-12.col-md-12.col-lg-12(ng-if="delivery.name")
          label Comprobante de Envio
          br
          a.btn.btn-primary(href="#") Comprobante
        .col-xs-12.col-sm-12.col-md-12.col-lg-12(ng-if="!delivery.name")
          .alert.alert-warning(style="padding: 5px;margin: 10px 0;")
            i.fa.fa-exclamation-triangle.fa-fw
            |  Aún no has realizado ningun envio.
      .modal-footer.col-xs-12.col-sm-12.col-md-12.col-lg-12
        button.btn.btn-send(type="submit") Continuar
#claims.modal.fade.in.blue(tabindex="-1",role="dialog",aria-labelledby="myLargeModalLabel")
  .modal-dialog.modal-lg(role="document")
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Close")
          span(aria-hidden="true") ×
        h3.modal-title
          img(ng-src="http://50.21.179.35:8083/bill-ok.png",width="50",height="51")
          span Reclamo
      .modal-body
        .col-xs-12.col-sm-12.col-md-12.col-lg-12(style="background: #f5f5f5;border: solid 1px #ccc;padding: 15px;")
          .col-xs-12.col-sm-12.col-md-3.col-lg-3
            .text-center
              a(ui-sref="user.info({id: claims.seller._id})")
                img(ng-src="http://50.21.179.35:8083/{{claims.seller.photo}}",width="40%",height="40%", style="border: solid 1px #ccc;")
            br
            br
            a(ui-sref="user.info({id: claims.seller._id})") Producto de {{claims.seller.username}}
            br
            span.red(style="width: 100%;word-break: break-word;")
              | {{claims.oldpublication.price | filterMoney : "Bs" : true}}
              sup.red 00
              span.black x 1 und
            br
            span Fecha de compra: 
              time-ago(from-time="{{claims.time}}")
            br
            span.black Total:
            span.red 
              b.red(style="width: 100%;word-break: break-word;")
                | {{claims.price | filterMoney : "Bs" : true}}
                sup.red 00
            br
            br
            span
              b.black Comprador
            br
            a(ui-sref="user.info({id: claims.buyer._id})") {{claims.buyer.username}}
            br
            span.black {{claims.buyer.name}} {{claims.buyer.lastname}}
            br
            copy-text(ng-model="claims.buyer.mail")
            br
            span.black {{claims.buyer.phone}}
            br
            br
            br
          .col-xs-12.col-sm-12.col-md-9.col-lg-9
            h5.black Describe tu Reclamo aquí.
            form(ng-submit="on.claims()")
              .form-group
                input.form-control(type="text", ng-model="on.form.subject",placeholder="Asunto del reclamo",style="background: #f5f5f5;")
              .form-group  
                textarea.form-control(rows="10", ng-model="on.form.comment",placeholder="Indica que problemas tienes con la venta ...",style="background: #f5f5f5;")
              //- .form-group
              //-   input.form-control(type="file",style="background: #f5f5f5;")
              .modal-footer
                button#btn-claims.btn.btn-send.pull-right(type="submit",data-loading-text="Loading...") Listo
                | &nbsp;
                button.btn.btn-default.pull-right(type="reset") Limpiar
#rating.modal.fade.in.blue(tabindex="-1",role="dialog",aria-labelledby="rating")
  .modal-dialog.modal-lg(role="document")
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Close")
          span(aria-hidden="true") ×
        h3.modal-title
          img(ng-src="http://50.21.179.35:8083/bill-ok.png",width="50",height="51")
          span Calificación
      .modal-body
        .col-xs-12.col-sm-12.col-md-12.col-lg-12(style="background: #f5f5f5;border: solid 1px #ccc;")
          .col-xs-12.col-sm-12.col-md-12.col-lg-12(style="padding: 15px;")
            h4.black Datos del Vendedor
            a(ui-sref="user.info({id: rating.seller._id})")
              img(ng-src="http://50.21.179.35:8083/{{rating.seller.photo}}",width="30%",height="30%")
          .col-xs-12.col-sm-12.col-md-12.col-lg-12(style="padding: 15px;")
            a(ui-sref="user.info({id: rating.seller._id})") {{rating.seller.username}}
            br
            span.black {{rating.seller.name}}
            br
            copy-text(ng-model="rating.seller.mail")
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            h4.black ¿Como te fue con el vendedor en esta operacion?
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              .col-xs-1.col-sm-1.col-md-1.col-lg-1(style="padding: 0;")
                a.pointer(ng-click="on.form.rate = 1",ng-class="{'positive': on.form.rate===1 || on.form.rate === '1'}")
                  i.fa.fa-plus-circle.fa-fw.fa-2x(style="color: #333;")
              .col-xs-10.col-sm-10.col-md-10.col-lg-10(style="padding: 0;padding-top: 4px;")
                span.black Calificar positivo
              .clearfix(style="margin-bottom: 10px;")
              .col-xs-1.col-sm-1.col-md-1.col-lg-1(style="padding: 0;")
                a.pointer(ng-click="on.form.rate = 2",ng-class="{'neutral': on.form.rate===2 || on.form.rate === '2'}")
                  i.fa.fa-circle.fa-fw.fa-2x(style="color: #333;")
              .col-xs-10.col-sm-10.col-md-10.col-lg-10(style="padding: 0;padding-top: 4px;")
                span.black Calificar neutral
              .clearfix(style="margin-bottom: 10px;")
              .col-xs-1.col-sm-1.col-md-1.col-lg-1(style="padding: 0;")
                a.pointer(ng-click="on.form.rate = 3",ng-class="{'negative': on.form.rate===3 || on.form.rate === '3'}")
                  i.fa.fa-minus-circle.fa-fw.fa-2x(style="color: #333;")
              .col-xs-10.col-sm-10.col-md-10.co1-lg-10(style="padding: 0;padding-top: 4px;")
                span.black Calificar negativo
              .clearfix(style="margin-bottom: 10px;")
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              form(ng-submit="on.rating()")
                .form-group
                  textarea.form-control(placeholder="Comentario ...",ng-model="on.form.comment")
                .alert.alert-info
                  i.fa.fa-info-circle
                  |  Es importante que dejes tu comentario referente a la venta, de este modo generaremos confianza en la comunidad
                .modal-footer
                  button#btn-comment.btn.btn-send.pull-right(type="submit",data-loading-text="Loading...") Listo
                  | &nbsp;
                  button.btn.btn-default.pull-right(type="reset") Limpiar
