#sales
  h4.title 
    span.black Publicaciones
  hr
  .tabs-item
    ul.nav.nav-tabs(role="tablist")
      li(role="presentation",ng-class="{'active': options==0}")
        a(ui-sref="sales.publications({state: 'enabled', page: 1, search: undefined, orderSales: undefined, orderDate: undefined})",aria-controls="enabled",role="tab") 
          | Activas 
          span.badge.badge-publicar-before  {{activeTotal}} 
      li(role="presentation",ng-class="{'active': options==1}")
        a(ui-sref="sales.publications({state: 'paused', page: 1, search: undefined, orderSales: undefined, orderDate: undefined})",aria-controls="pause",role="tab") 
          | Pausadas 
          span.badge.badge-publicar-before  {{pauseTotal}}
      li(role="presentation",ng-class="{'active': options==2}")
        a(ui-sref="sales.publications({state: 'ended', page: 1, search: undefined, orderSales: undefined, orderDate: undefined})",aria-controls="finish",role="tab") 
          | Finalizadas 
          span.badge.badge-publicar-before  {{endedTotal}}
    br
    .filter-search
      .row.hidden-xs
        .col-lg-5.col-md-5
          form(ng-submit="send.search()")
            .input-group
              input.form-control(type="text",placeholder="Buscar",ng-model="send.form.search")
              span.input-group-btn
                button.btn.btn-default(type="submit")
                  i.glyphicon.glyphicon-search
        .col-lg-7.col-md-7.text-right
          .btn-group
            button.btn.btn-default(type="button") Filtrar
            button.btn.btn-default.dropdown-toggle(type="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
              span.caret
              span.sr-only Toggle Dropdown
            ul.dropdown-menu
              li(ng-click="send.filter(1)",ng-class="{'active': orderSales==1}")
                a.pointer Más Vendidas
              li(ng-click="send.filter(-1)",ng-class="{'active': orderSales==-1}")
                a.pointer Menos Vendidas
          | &nbsp;
          | &nbsp;
          span 
            | Publicaciones {{limit*currentPage}} de
            span(ng-if="options===0")  {{totalActive}}
            span(ng-if="options===1")  {{totalPaused}}
            span(ng-if="options===2")  {{totalEnded}}
          | &nbsp;
          | &nbsp;
          select.form-control.input-sm(style="max-width: 150px;display:inline-block",ng-model="send.form.sort",ng-change="send.filter()")
            option(value="-1",ng-selected="true") Más Recientes
            option(value="1") Menos Recientes
      .row.hidden-lg.hidden-md.hidden-sm
        .col-xs-12(style="padding-bottom: 5px;")
          form(ng-submit="send.search()")
            .input-group
              input.form-control(type="text",placeholder="Buscar",ng-model="send.form.search")
              span.input-group-btn
                button.btn.btn-default(type="submit")
                  i.glyphicon.glyphicon-search
        .col-xs-12
          .col-xs-12.padding-col-0
            .col-xs-6.padding-col-0
              .btn-group
                button.btn.btn-default(type="button") Filtrar
                button.btn.btn-default.dropdown-toggle(type="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
                  span.caret
                  span.sr-only Toggle Dropdown
                ul.dropdown-menu
                  li(ng-click="send.filter(1)",ng-class="{'active': orderSales==1}")
                    a.pointer Más Vendidas
                  li(ng-click="send.filter(-1)",ng-class="{'active': orderSales==-1}")
                    a.pointer Menos Vendidas
            .col-xs-6.padding-col-0.text-right
              select.form-control.input-sm(style="max-width: 150px;display:inline-block",ng-model="send.form.sort",ng-change="send.filter()")
                option(value="-1",ng-selected="true") Más Recientes
                option(value="1") Menos Recientes
          .col-xs-12.padding-col-0.text-right
            span 
              | Publicaciones {{limit*currentPage}} de
              span(ng-if="options===0")  {{totalActive}}
              span(ng-if="options===1")  {{totalPaused}}
              span(ng-if="options===2")  {{totalEnded}}
        
    br  
    .tab-content
      #enabled.tab-pane.fade(role="tabpanel",ng-class="{'active in': options==0}")
        .content-publication.row(ng-repeat="collections in itemsActive")
          .col-xs-12.col-sm-6.col-md-2.col-lg-2
            .framework-img
              .condicion-title-float
                span(ng-if="collections.status") Nuevo 
                span(ng-if="!collections.status") Usado
              a(ui-sref="base.publication({id: collections._id})",ng-if="collections.photos[0]")
                img.img-responsive(ng-src="http://50.21.179.35:8083/{{collections.photos[0]}}",alt="framework-img")
              a(ui-sref="user.publication({id: collections.user._id})",ng-if="collections.photo")
                img.img-responsive(ng-src="http://50.21.179.35:8083/{{collections.photo}}",alt="framework-img")
          .col-xs-6.col-sm-5.col-md-5.col-lg-5
            p.details-publications
              span.title
                a(ui-sref="base.publication({id: collections._id})")
                  b {{collections.name}}
              br
              span.shop 
                a(ui-sref="user.publication({id: collections.user._id})")
                  b {{collections.user.username}}
                  b(ng-if="collections.username")  {{collections.name}}
              br
              span.user {{collections.user.name}}
              br
              span.city(ng-if="collections.localities[0]")
                i.fa.fa-map-marker.fa-fw.t12.grisC
                | {{collections.localities[0].name}}
              span.city(ng-if="collections.localities[1]")
                i.fa.fa-map-marker.fa-fw.t12.grisC
                | {{collections.localities[1].name}}
              br
              span.color-apdp(ng-if="collections.joined")
                span
                  time-ago.color-apdp(from-time="{{collections.joined}}")
                |  vendiendo en 
                span.color-apdp A Precio De Pana
              span.review.hidden-xs(ng-if="!collections.username") 
                i.fa.fa-eye.negro.opacity.fa-fw(style="")
                span {{collections.views}} Visitas
                | &nbsp;
                i.fa.fa-shopping-cart.fa-fw.negro.opacity
                span {{collections.transactions}} Ventas
                | &nbsp;
          .col-xs-6.col-sm-4.col-md-5.col-lg-5.text-right.padding-col-0
            div.details-publications2
              span.price.red
                b.pull-right.text-right(ng-if="!collections.username",style="width: 100%;")
                  | {{collections.price | filterMoney : "Bs" : true}}
                  sup 00
                br
                .text-right  
                  .btn-group
                    button.btn.btn-info(type="button",ng-click="send.OnModalPublication(collections._id)") Modificar
                    button.btn.btn-info.dropdown-toggle(type="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
                      i.fa.fa-cogs.fa-fw.white
                    ul.dropdown-menu
                      li
                        a.pointer(ng-click="send.ChangeStatus(collections._id,2)") Pausar
                      li
                        a.pointer(ng-click="send.ChangeStatus(collections._id,3)") Finalizar
                  .following(ng-if="collections.username")
                    btn-follow(ng-model="collections._id",on="collections.youfollow") 
                  br
                  span.times(ng-if="!collections.username") 
                    time-ago(from-time="{{collections.startdate}}")
                    //- i.glyphicon.glyphicon-time.opacity
                    //- span
                    //-   br
                    //-   div(style="margin-top: 0px;")
                    //-     div.like
                    //-       btn-like(like="collections.favorites",id="collections._id")
          .col-xs-12.hidden-lg.hidden-md.hidden-sm.text-center
            span.review(ng-if="!collections.username") 
              i.fa.fa-eye.negro.opacity.fa-fw(style="")
              span {{collections.views}} Visitas
              | &nbsp;
              i.fa.fa-shopping-cart.fa-fw.negro.opacity
              span {{collections.transactions}} Ventas
              | &nbsp;
              br
              br
          .col-xs-12.hidden-lg.hidden-md.hidden-sm
            .btn-group
              button.btn.btn-info(type="button",ng-click="send.OnModalPublication(collections._id)") Modificar
              button.btn.btn-info.dropdown-toggle(type="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
                i.fa.fa-cogs.fa-fw.white
              ul.dropdown-menu
                li
                  a.pointer(ng-click="send.ChangeStatus(collections._id,2)") Pausar
                li
                  a.pointer(ng-click="send.ChangeStatus(collections._id,3)") Finalizar
          .col-xs-12.col-sm-6.col-md-2.col-lg-2
          .col-xs-12.col-sm-12.col-md-12.col-lg-10.pull-right
            .line-horizontal
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center(ng-show="flag && totalActive>limit")
          ul(uib-pagination,total-items="totalActive",ng-model="currentPage",items-per-page="limit",max-size="5",ng-change="pageChanged()",num-pages="num",class="pagination-sm",boundary-link-numbers="true",rotate="false")  
      #pause.tab-pane.fade(role="tabpanel",ng-class="{'active in': options==1}")
        .content-publication.row(ng-repeat="collections in itemsPaused")
          .col-xs-12.col-sm-6.col-md-2.col-lg-2
            .framework-img
              .condicion-title-float
                span(ng-if="collections.status") Nuevo 
                span(ng-if="!collections.status") Usado
              a(ui-sref="base.publication({id: collections._id})",ng-if="collections.photos[0]")
                img.img-responsive(ng-src="http://50.21.179.35:8083/{{collections.photos[0]}}",alt="framework-img")
              a(ui-sref="user.publication({id: collections.user._id})",ng-if="collections.photo")
                img.img-responsive(ng-src="http://50.21.179.35:8083/{{collections.photo}}",alt="framework-img")
          .col-xs-6.col-sm-5.col-md-5.col-lg-5
            p.details-publications
              span.title
                a(ui-sref="base.publication({id: collections._id})")
                  b {{collections.name}}
              br
              span.shop 
                a(ui-sref="user.publication({id: collections.user._id})")
                  b {{collections.user.username}}
                  b(ng-if="collections.username")  {{collections.name}}
              br
              span.user {{collections.user.name}}
              br
              span.city(ng-if="collections.localities[0]")
                i.fa.fa-map-marker.fa-fw.t12.grisC
                | {{collections.localities[0].name}}
              span.city(ng-if="collections.localities[1]")
                i.fa.fa-map-marker.fa-fw.t12.grisC
                | {{collections.localities[1].name}}
              br
              span.color-apdp(ng-if="collections.joined")
                span
                  time-ago.color-apdp(from-time="{{collections.joined}}")
                |  vendiendo en 
                span.color-apdp A Precio De Pana
              span.review.hidden-xs(ng-if="!collections.username") 
                i.fa.fa-eye.negro.opacity.fa-fw(style="")
                span {{collections.views}} Visitas
                | &nbsp;
                i.fa.fa-shopping-cart.fa-fw.negro.opacity
                span {{collections.transactions}} Ventas
                | &nbsp;
          .col-xs-6.col-sm-4.col-md-5.col-lg-5.text-right.padding-col-0
            div.details-publications2
              span.price.red
                b.pull-right(ng-if="!collections.username")
                  | {{collections.price | filterMoney : "Bs" : true}}
                  sup 00
                br
                .text-right  
                  .btn-group
                    button.btn.btn-info.dropdown-toggle(type="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
                      i.fa.fa-cogs.fa-fw.white
                    ul.dropdown-menu
                      li
                        a.pointer(ng-click="send.ChangeStatus(collections._id,1)") Activar
                      li
                        a.pointer(ng-click="send.ChangeStatus(collections._id,3)") Finalizar
                  .following(ng-if="collections.username")
                    btn-follow(ng-model="collections._id",on="collections.youfollow") 
                  br
                  span.times(ng-if="!collections.username") 
                    time-ago(from-time="{{collections.startdate}}")
                    //- i.glyphicon.glyphicon-time.opacity
                    //- span
                    //-   br
                    //-   div(style="margin-top: 0px;")
                    //-     div.like
                    //-       btn-like(like="false")
          .col-xs-12.hidden-lg.hidden-md.hidden-sm.text-center
            span.review(ng-if="!collections.username") 
              i.fa.fa-eye.negro.opacity.fa-fw(style="")
              span {{collections.views}} Visitas
              | &nbsp;
              i.fa.fa-shopping-cart.fa-fw.negro.opacity
              span {{collections.transactions}} Ventas
              | &nbsp;
              br
              br
          .col-xs-12.hidden-lg.hidden-md.hidden-sm
            .btn-group
              button.btn.btn-info.btn-block.dropdown-toggle(type="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
                i.fa.fa-cogs.fa-fw.white
              ul.dropdown-menu
                li
                  a.pointer(ng-click="send.ChangeStatus(collections._id,1)") Activar
                li
                  a.pointer(ng-click="send.ChangeStatus(collections._id,3)") Finalizar
          .col-xs-12.col-sm-6.col-md-2.col-lg-2
          .col-xs-12.col-sm-12.col-md-12.col-lg-10.pull-right
            .line-horizontal
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center(ng-show="flag && totalPaused>limit")
          ul(uib-pagination,total-items="totalPaused",ng-model="currentPage",items-per-page="limit",max-size="5",ng-change="pageChanged()",num-pages="num",class="pagination-sm",boundary-link-numbers="true",rotate="false")  
      #finish.tab-pane.fade(role="tabpanel",ng-class="{'active in': options==2}")
        .content-publication.row(ng-repeat="collections in itemsEnded")
          .col-xs-12.col-sm-6.col-md-2.col-lg-2
            .framework-img
              .condicion-title-float
                span(ng-if="collections.status") Nuevo 
                span(ng-if="!collections.status") Usado
              a(ui-sref="base.publication({id: collections._id})",ng-if="collections.photos[0]")
                img.img-responsive(ng-src="http://50.21.179.35:8083/{{collections.photos[0]}}",alt="framework-img")
              a(ui-sref="user.publication({id: collections.user._id})",ng-if="collections.photo")
                img.img-responsive(ng-src="http://50.21.179.35:8083/{{collections.photo}}",alt="framework-img")
          .col-xs-6.col-sm-5.col-md-5.col-lg-5
            p.details-publications
              span.title
                a(ui-sref="base.publication({id: collections._id})")
                  b {{collections.name}}
              br
              span.shop 
                a(ui-sref="user.publication({id: collections.user._id})")
                  b {{collections.user.username}}
                  b(ng-if="collections.username")  {{collections.name}}
              br
              span.user {{collections.user.name}}
              br
              span.city(ng-if="collections.localities[0]")
                i.fa.fa-map-marker.fa-fw.t12.grisC
                | {{collections.localities[0].name}}
              span.city(ng-if="collections.localities[1]")
                i.fa.fa-map-marker.fa-fw.t12.grisC
                | {{collections.localities[1].name}}
              br
              span.color-apdp(ng-if="collections.joined")
                span
                  time-ago.color-apdp(from-time="{{collections.joined}}")
                |  vendiendo en 
                span.color-apdp A Precio De Pana
              span.review.hidden-xs(ng-if="!collections.username") 
                i.fa.fa-eye.negro.opacity.fa-fw(style="")
                span {{collections.views}} Visitas
                | &nbsp;
                i.fa.fa-shopping-cart.fa-fw.negro.opacity
                span {{collections.transactions}} Ventas
                | &nbsp;
          .col-xs-6.col-sm-4.col-md-5.col-lg-5.text-right.padding-col-0
            div.details-publications2
              span.price.red
                b.pull-right(ng-if="!collections.username")
                  | {{collections.price | filterMoney : "Bs" : true}}
                  sup 00
                br
                .text-right  
                  .btn-group
                    button.btn.btn-info.dropdown-togglek(type="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
                      i.fa.fa-cogs.fa-fw.white
                    ul.dropdown-menu
                      li
                        a.pointer(ng-click="send.ChangeStatus(collections._id,1)") Activar
                      li
                        a.pointer(ng-click="send.ChangeStatus(collections._id,2)") Pausar
                  .following(ng-if="collections.username")
                    btn-follow(ng-model="collections._id",on="collections.youfollow") 
                  br
                  span.times(ng-if="!collections.username") 
                    time-ago(from-time="{{collections.startdate}}")
                    //- i.glyphicon.glyphicon-time.opacity
                    //- span
                    //-   br
                    //-   div(style="margin-top: 0px;")
                    //-   div(style="margin-top: 0px;")
                    //-     div.like
                    //-       btn-like(like="collections.favorites",id="collections._id")
          .col-xs-12.hidden-lg.hidden-md.hidden-sm.text-center
            span.review(ng-if="!collections.username") 
              i.fa.fa-eye.negro.opacity.fa-fw(style="")
              span {{collections.views}} Visitas
              | &nbsp;
              i.fa.fa-shopping-cart.fa-fw.negro.opacity
              span {{collections.transactions}} Ventas
              | &nbsp;
              br
              br
          .col-xs-12.hidden-lg.hidden-md.hidden-sm
            .btn-group
              button.btn.btn-info.btn-block.dropdown-togglek(type="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
                i.fa.fa-cogs.fa-fw.white
              ul.dropdown-menu
                li
                  a.pointer(ng-click="send.ChangeStatus(collections._id,1)") Activar
                li
                  a.pointer(ng-click="send.ChangeStatus(collections._id,2)") Pausar
          .col-xs-12.col-sm-6.col-md-2.col-lg-2
          .col-xs-12.col-sm-12.col-md-12.col-lg-10.pull-right
            .line-horizontal
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center(ng-show="flag && totalEnded>limit")
          ul(uib-pagination,total-items="totalEnded",ng-model="currentPage",items-per-page="limit",max-size="5",ng-change="pageChanged()",num-pages="num",class="pagination-sm",boundary-link-numbers="true",rotate="false")  
#PublicationEdit.modal.fade.blue(tabindex="-1",role="dialog",aria-labelledby="store")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Close")
          span.black(aria-hidden="true") &times;
        img.margin-center(ng-src="http://50.21.179.35:8083/bill-ok.png",alt="bill-ok",width="50px",height="50px")
        span  Editar Publicacion
      form(ng-submit="send.onSubmit()")
        .modal-body
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .form-group.has-feedback(ng-class="{'has-success': send.form.name, 'has-error': send.form.name==undefined}")
              label.black Titulo
              input.form-control(type="text",ng-model="send.form.name",minlength="10",required)
              span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.name")
              span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.name==undefined",title="Por favor introduce un valor")
            .form-group.has-feedback(ng-class="{'has-success': send.form.stock, 'has-error': send.form.stock==undefined}")
              label.black Cantidad
              input.form-control(type="text",ng-model="send.form.stock",pattern="[0-9]{1,}",required)
              span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.stock")
              span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.stock==undefined",title="Por favor introduce un valor válido")
            .form-group.has-feedback(ng-class="{'has-success': send.form.price, 'has-error': send.form.price==undefined}")
              label.black 
                | Precio 
                | (
                | Bs
                | )
              input.form-control(type="text",ng-model="send.form.price",pattern="[0-9]{1,}",required)
              span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.price")
              span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.price==undefined",title="Por favor introduce un email válido")
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          #alertPublicationEdit.alert.alert-warning.alert-dismissible.hidden(role="alert") 
            strong Tienes que modificar el campo para guardar los cambios.
          .col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center(style="padding: 5%;",ng-if="send.form._id")
            a.pointer(ng-click="send.redirection(send.form._id)")
             i.fa.fa-pencil.fa-fw.black
             | Modificar más detalles, Fotos,descripción ...
        .modal-footer
            button#CancelModalPublicationEdit.btn.btn-default.border-radius-0(type="reset",data-dismiss="modal") Cancelar
            button#ButtonModalPublicationEdit.btn.btn-send.border-radius-0(type="submit",data-loading-text="Loading...") Guardar
